In [9]:
import pandas as pd
# !pip install xlrd==1.2.0

In [10]:
import xlrd
data = pd.read_excel("resumeITFair (2).xlsx")
data

,Data1,Data2,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99
0,"13;""917287031144053"";""documents/b17b320ce9ade8...","Tamil Nadu"";""Male"";""-"";""-"";""0"";""0;0;0"";""-"";""NA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"15;""503068122699786"";""documents/584bd78a8e7896...","Tamil Nadu"";""Male"";""-"";""-"";""0"";""0;0;0"";""-"";""NA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"16;""959545483152525"";""documents/dc79b58c6903ac...","Tamil Nadu"";""Male"";""-"";""-"";""0"";""0;0;0"";""-"";""NA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"17;""916030675272394"";""documents/c4fae69bddca86...","Tamil Nadu"";""Male"";""-"";""-"";""0"";""0;0;0"";""-"";""NA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"18;""326172308423515"";""documents/200be20dabdb89...","Tamil Nadu"";""Male"";""-"";""-"";""0"";""0;0;0"";""-"";""NA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11009,"12033;""888ab3ae61288e88429f1ad6d786"";""document...",Python,Html,Javascript,Sql,Xml,Blockchain,Css,Android,Backend,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11010,"12034;""6a642ee66382f2e9f5da5383ce5d"";""document...",Jsp,Ajax,Android,C,C++,Ml,Networking,Ui,Analysis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11011,"12035;""493f86b5947ba42854348c4cfccb"";""document...",Java,C programming,"C"";""NA"";""NA"";""NA"";""NA"";""NA"";""NA"";""NA"";""NA"";""NA...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11012,"12036;""edwP5j7QTAcQkrtKCKHKkAJJuRM2"";""document...",Remote,Bangalore,Chennai,Kolkata,Delhi,Mumbai,Pune,Delhi,Gurgaon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11013,"12037;""a00af5e40ff86a5a2283e4c3a5a0"";""document...",Javascript,Css,C,react.js,Node.js,HTML5,mongoDB,Bootstrap,Data Structures and Algorithms,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
list_original = data['Data1'].to_list()

In [15]:
df = pd.read_csv("CVa_Done_Till_19th.csv")

In [17]:
edited_list = df['data1'].to_list()

In [18]:
len(list_original)

11014

In [22]:
len(edited_list)
final_list = []

In [27]:
for item in edited_list:
    for name in list_original:
        if item==name:
            list_original.remove(item)

In [29]:
len(list_original)

9085

In [30]:
new_df = pd.DataFrame(list_original)

In [31]:
new_df

                                                      0
0     13;"917287031144053";"documents/b17b320ce9ade8...
1     940;"mTLQyDnlXkbpmPSTy4nSjq8fPGV2";"documents/...
2     941;"CBsMnqoF8dYu9xtWZitQaV6rRBq1";"documents/...
3     945;"N5t3oHXKsqbqmKEUBpLHUp9RIsv2";"documents/...
4     951;"9Ly5gSK1KKfSKq3rDC3xQKYUaWC3";"documents/...
...                                                 ...
9080  12033;"888ab3ae61288e88429f1ad6d786";"document...
9081  12034;"6a642ee66382f2e9f5da5383ce5d";"document...
9082  12035;"493f86b5947ba42854348c4cfccb";"document...
9083  12036;"edwP5j7QTAcQkrtKCKHKkAJJuRM2";"document...
9084  12037;"a00af5e40ff86a5a2283e4c3a5a0";"document...

[9085 rows x 1 columns]

In [33]:
new_df.to_csv("new_csv.csv")